.md-header__button.md-logo {
    margin: 0.1rem;
    padding: 0;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 1.8rem;
    width: auto;
}

.image-credit {
    font-size: 0.5rem;       /* manji font */
    color: #667;             /* siva boja */
    text-align: center;      /* centrirano */
    margin-top: 0rem;      /* malo prostora iznad */
    margin-bottom: 0rem;     /* razmak ispod */
}
